<button (click)="initProcess()">INICIAR IDENTIFICADOR FACIAL</button>



<br><br><br><br>



<app-prueba-id-scan></app-prueba-id-scan>






<!-- <button (click)="initScanPhotoProcess()">INICIAR SCANER ID PHOTO</button> -->

<div style="display: none;">
  <div class="wrapping-box-container">
    <div id="controls" class="controls">
        <!-- Button that will begin a Liveness Check -->
        <button id="liveness-button" disabled class="big-button">3D Liveness Check</button>
        <!-- The status container that will be updated appropriately based on current state of FaceTecSDK -->
        <p id="status">Initializing...</p>
    </div>
    <div id="custom-logo-container">
      <img class="facetec-logo" src="../assets/images/facetec_logo.png">
    </div>
  </div>
</div>
